section {
  width: 60%;
  margin: 20px 20px 0 20px;
  padding: 20px 20px 0 20px;
  background-color: rgba(207, 203, 203, 0.84);
  border-radius: 8px;
}

.detail-component {
  h2 {
    color: red;
  }
  p {
    color: #333;
  }
  p > strong {
    color: blue;
    border-bottom: 2px dotted;
  }
}
