.search-bar__container {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  flex-flow: wrap;

  .search-bar__input {
    max-width: 70%;
  }
  button {
    background-color: blue;
  }

  .warning,
  .error {
    position: absolute;
    right: 7%;
    top: -7px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: red;
    margin-top: 10px;
  }
}
