.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.List {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.Link {
  background-color: var(--light-color);
  color: var(--links-text-color);
  padding: 10px;
  border-radius: var(--border-radius);
}
