.pagination {
  display: flex;
  justify-content: center;
  align-items: center;;
  gap: 5px;
  & .pagination-button {
    background-color: transparent;
    padding: 0;
    font-size: 2em;
    border: unset;
  }
}
