.wrapper {
  display: flex;
  gap: 10px;
  cursor: pointer;
  font-size: 15px;
  color: var(--text-color);
}

.checkbox {
  cursor: pointer;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
